@import url(https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98);
#resume {
  ul.lst-kix_list_1-0 {
    list-style-type: none;
  }
  ul.lst-kix_lb2duadlggvh-8 {
    list-style-type: none;
  }
  ul.lst-kix_lb2duadlggvh-7 {
    list-style-type: none;
  }
  ul.lst-kix_lb2duadlggvh-4 {
    list-style-type: none;
  }
  ul.lst-kix_lb2duadlggvh-3 {
    list-style-type: none;
  }
  ul.lst-kix_lb2duadlggvh-6 {
    list-style-type: none;
  }
  ul.lst-kix_lb2duadlggvh-5 {
    list-style-type: none;
  }
  ul.lst-kix_lb2duadlggvh-0 {
    list-style-type: none;
  }
  ul.lst-kix_lb2duadlggvh-2 {
    list-style-type: none;
  }
  ul.lst-kix_lb2duadlggvh-1 {
    list-style-type: none;
  }
  ul.lst-kix_list_1-3 {
    list-style-type: none;
  }
  ul.lst-kix_list_1-4 {
    list-style-type: none;
  }
  ul.lst-kix_list_1-1 {
    list-style-type: none;
  }
  ul.lst-kix_list_1-2 {
    list-style-type: none;
  }
  ul.lst-kix_list_1-7 {
    list-style-type: none;
  }
  ul.lst-kix_list_1-8 {
    list-style-type: none;
  }
  ul.lst-kix_list_1-5 {
    list-style-type: none;
  }
  ul.lst-kix_list_1-6 {
    list-style-type: none;
  }
  ul.lst-kix_wt2zbft33z5a-5 {
    list-style-type: none;
  }
  ul.lst-kix_wt2zbft33z5a-4 {
    list-style-type: none;
  }
  ul.lst-kix_wt2zbft33z5a-3 {
    list-style-type: none;
  }
  ul.lst-kix_wt2zbft33z5a-2 {
    list-style-type: none;
  }
  ul.lst-kix_wt2zbft33z5a-1 {
    list-style-type: none;
  }
  ul.lst-kix_wt2zbft33z5a-0 {
    list-style-type: none;
  }
  .lst-kix_me65o9cnfzgu-7 > li:before {
    content: "\0025cb   ";
  }
  .lst-kix_me65o9cnfzgu-8 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_me65o9cnfzgu-6 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_me65o9cnfzgu-1 > li:before {
    content: "\0025cb   ";
  }
  .lst-kix_lb2duadlggvh-1 > li:before {
    content: "\0025cb   ";
  }
  .lst-kix_me65o9cnfzgu-0 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_lb2duadlggvh-0 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_eymr73qik1zj-8 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_eymr73qik1zj-6 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_eymr73qik1zj-7 > li:before {
    content: "\0025cb   ";
  }
  ul.lst-kix_eymr73qik1zj-6 {
    list-style-type: none;
  }
  ul.lst-kix_eymr73qik1zj-7 {
    list-style-type: none;
  }
  ul.lst-kix_eymr73qik1zj-8 {
    list-style-type: none;
  }
  ul.lst-kix_eymr73qik1zj-0 {
    list-style-type: none;
  }
  ul.lst-kix_eymr73qik1zj-1 {
    list-style-type: none;
  }
  ul.lst-kix_eymr73qik1zj-2 {
    list-style-type: none;
  }
  ul.lst-kix_eymr73qik1zj-3 {
    list-style-type: none;
  }
  ul.lst-kix_eymr73qik1zj-4 {
    list-style-type: none;
  }
  ul.lst-kix_eymr73qik1zj-5 {
    list-style-type: none;
  }
  .lst-kix_me65o9cnfzgu-2 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_me65o9cnfzgu-3 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_me65o9cnfzgu-4 > li:before {
    content: "\0025cb   ";
  }
  .lst-kix_me65o9cnfzgu-5 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_list_2-6 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_list_2-7 > li:before {
    content: "o  ";
  }
  .lst-kix_list_2-4 > li:before {
    content: "o  ";
  }
  .lst-kix_list_2-5 > li:before {
    content: "\0025aa   ";
  }
  .lst-kix_list_2-8 > li:before {
    content: "\0025aa   ";
  }
  .lst-kix_eymr73qik1zj-0 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_eymr73qik1zj-2 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_eymr73qik1zj-1 > li:before {
    content: "\0025cb   ";
  }
  .lst-kix_eymr73qik1zj-5 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_eymr73qik1zj-4 > li:before {
    content: "\0025cb   ";
  }
  .lst-kix_eymr73qik1zj-3 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_lb2duadlggvh-2 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_lb2duadlggvh-3 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_lb2duadlggvh-4 > li:before {
    content: "\0025cb   ";
  }
  .lst-kix_lb2duadlggvh-5 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_lb2duadlggvh-8 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_lb2duadlggvh-6 > li:before {
    content: "\0025cf   ";
  }
  ul.lst-kix_wt2zbft33z5a-8 {
    list-style-type: none;
  }
  .lst-kix_lb2duadlggvh-7 > li:before {
    content: "\0025cb   ";
  }
  ul.lst-kix_wt2zbft33z5a-7 {
    list-style-type: none;
  }
  ul.lst-kix_wt2zbft33z5a-6 {
    list-style-type: none;
  }
  .lst-kix_wt2zbft33z5a-0 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_wt2zbft33z5a-1 > li:before {
    content: "o  ";
  }
  ul.lst-kix_list_2-8 {
    list-style-type: none;
  }
  ul.lst-kix_list_2-2 {
    list-style-type: none;
  }
  .lst-kix_list_1-0 > li:before {
    content: "\0025cf   ";
  }
  ul.lst-kix_list_2-3 {
    list-style-type: none;
  }
  ul.lst-kix_list_2-0 {
    list-style-type: none;
  }
  ul.lst-kix_list_2-1 {
    list-style-type: none;
  }
  ul.lst-kix_list_2-6 {
    list-style-type: none;
  }
  .lst-kix_list_1-1 > li:before {
    content: "o  ";
  }
  .lst-kix_list_1-2 > li:before {
    content: "\0025aa   ";
  }
  ul.lst-kix_list_2-7 {
    list-style-type: none;
  }
  ul.lst-kix_list_2-4 {
    list-style-type: none;
  }
  ul.lst-kix_list_2-5 {
    list-style-type: none;
  }
  .lst-kix_wt2zbft33z5a-8 > li:before {
    content: "\0025aa   ";
  }
  .lst-kix_list_1-3 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_list_1-4 > li:before {
    content: "o  ";
  }
  .lst-kix_wt2zbft33z5a-7 > li:before {
    content: "o  ";
  }
  .lst-kix_wt2zbft33z5a-4 > li:before {
    content: "o  ";
  }
  .lst-kix_list_1-7 > li:before {
    content: "o  ";
  }
  ul.lst-kix_me65o9cnfzgu-8 {
    list-style-type: none;
  }
  .lst-kix_wt2zbft33z5a-3 > li:before {
    content: "\0025cf   ";
  }
  ul.lst-kix_me65o9cnfzgu-7 {
    list-style-type: none;
  }
  ul.lst-kix_me65o9cnfzgu-6 {
    list-style-type: none;
  }
  .lst-kix_wt2zbft33z5a-2 > li:before {
    content: "\0025aa   ";
  }
  ul.lst-kix_me65o9cnfzgu-5 {
    list-style-type: none;
  }
  .lst-kix_list_1-5 > li:before {
    content: "\0025aa   ";
  }
  .lst-kix_list_1-6 > li:before {
    content: "\0025cf   ";
  }
  li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
  }
  ul.lst-kix_me65o9cnfzgu-4 {
    list-style-type: none;
  }
  ul.lst-kix_me65o9cnfzgu-3 {
    list-style-type: none;
  }
  ul.lst-kix_me65o9cnfzgu-2 {
    list-style-type: none;
  }
  ul.lst-kix_me65o9cnfzgu-1 {
    list-style-type: none;
  }
  ul.lst-kix_me65o9cnfzgu-0 {
    list-style-type: none;
  }
  .lst-kix_list_2-0 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_list_2-1 > li:before {
    content: "o  ";
  }
  .lst-kix_list_1-8 > li:before {
    content: "\0025aa   ";
  }
  .lst-kix_list_2-2 > li:before {
    content: "\0025aa   ";
  }
  .lst-kix_list_2-3 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_wt2zbft33z5a-5 > li:before {
    content: "\0025aa   ";
  }
  .lst-kix_wt2zbft33z5a-6 > li:before {
    content: "\0025cf   ";
  }
  ol {
    margin: 0;
    padding: 0;
  }
  table td,
  table th {
    padding: 0;
  }
  .c16 {
    padding-top: 0pt;
    border-bottom-color: white;
    border-bottom-width: 0.8pt;
    padding-bottom: 1pt;
    line-height: 1.1500000000000001;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c14 {
    padding-top: 10pt;
    border-bottom-color: white;
    border-bottom-width: 0.8pt;
    padding-bottom: 1pt;
    line-height: 1.1500000000000001;
    border-bottom-style: solid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c6 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c3 {
    color: white;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-family: "Times New Roman";
    font-style: normal;
  }
  .c2 {
    color: white;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Times New Roman";
    font-style: normal;
  }
  .c18 {
    padding-top: 0pt;
    padding-bottom: 8pt;
    line-height: 1.0791666666666666;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c7 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.1500000000000001;
    orphans: 2;
    widows: 2;
    text-align: center;
  }
  .c9 {
    color: white;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    font-style: normal;
  }
  .c11 {
    color: white;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-style: normal;
  }
  .c15 {
    color: white;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
  }
  .c20 {
    background-color: #ffffff;
    max-width: 504pt;
    padding: 54pt 54pt 54pt 54pt;
  }
  .c12 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
  }
  .c0 {
    font-weight: 700;
    font-family: "Times New Roman";
  }
  .c8 {
    padding: 0;
    margin: 0;
  }
  .c1 {
    color: inherit;
    text-decoration: inherit;
  }
  .c4 {
    font-weight: 400;
    font-family: "Times New Roman";
  }
  .c17 {
    font-size: 20pt;
  }
  .c10 {
    font-size: 14pt;
  }
  .c13 {
    font-size: 10pt;
  }
  .c19 {
    font-size: 12pt;
  }
  .title {
    padding-top: 24pt;
    color: white;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  li {
    color: white;
    font-size: 11pt;
    font-family: "Calibri";
  }
  p {
    margin: 0;
    color: white;
    font-size: 11pt;
    font-family: "Calibri";
  }
  h1 {
    padding-top: 24pt;
    color: white;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 6pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h2 {
    padding-top: 18pt;
    color: white;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h3 {
    padding-top: 14pt;
    color: white;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h4 {
    padding-top: 12pt;
    color: white;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h5 {
    padding-top: 11pt;
    color: white;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h6 {
    padding-top: 10pt;
    color: white;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
}
