html {
  font-family: Georgia, "Times New Roman", serif;
  background-image: url("/images/bird_pattern.jpg");
  background-repeat: repeat;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-top: 60px;
}
body {
  font-family: Georgia, "Times New Roman", serif;
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #6e5a50;
  width: 100%;
}
.nav a {
  float: left;
  color: #fcecc8;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.nav a:hover {
  background-color: #f4c09a;
  color: #6e5a50;
}
.nav a.active {
  background-color: #ce645e;
  color: #fcecc8;
}

.title {
  position: relative;
  display: inline-block;
  text-align: center;
  white-space: normal;
  background-color: #fcecc8;
  padding: 4px;
  border-radius: 10px;
}

.button {
  background-color: #df7d62;
  color: #fcecc8;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
}
.button:hover {
  background-color: #bb544d;
}

.align-center {
  text-align: center;
}
.section1 {
  padding: 0 10 10 10;
  background: #6e5a4f;
  border: solid thick #967d66;
  border-radius: 10px;
  color: white;
  max-width: 80%;
  margin: auto;
}

.header {
  text-align: center;
}
.footer {
  padding: 30;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 5%;
}
.card {
  padding: 5;
  background-color: #f6c299;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
  text-align: center;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: scale(1.05);
}
.card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card-content {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-title {
  font-size: 1.5em;
  margin: 0 0 8px 0;
}
.card-description {
  font-size: 1em;
  color: #584343;
  margin: 0 0 16px 0;
  text-align: left;
  line-height: 1.4;
}
.card-list {
  text-align: left;
  padding: 0;
  margin: 0 0 16px 0;
  list-style-type: disc;
  list-style-position: inside;
}
.card-list li {
  margin-bottom: 8px;
  list-style: none;
  text-align: center;
  color: #584343;
}
.card-button {
  background-color: #df7d62;
  color: #fcecc8;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1em;
}
.card-button:hover {
  background-color: #bb544d;
}
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

.image-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.frame {
  position: relative;
  z-index: 2;
  width: 60%;
}
.portrait {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 50%;
}
.photo {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}
