.bg-1 {
  background-color: #977e67;
  margin-top: -60px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  width: 100vw;
  position: relative;
  z-index: 0;
}

#trivia {
  background-color: #dcaa73;
}
#triviaAnswers {
  background-color: #dcaa73;
}
#triviaAnswer {
  background-color: #dcaa73;
}
